/* Page background */
body  {
  background-color: #2b211b;
  color:#eeeeee;
}

/* Headings */
h1 {
  color: #ffbb77;
  font:18pt Garamond, serif;
  font-weight: bold;
  text-align: center;
}
h2 {
  color: #ffbb77;
  font:16pt Garamond, serif;
  text-align: center;
}
h3 {
  color: #ffbb77;
  font:14pt Garamond, serif;
  font-weight: bold;
  text-align: center;
}

/* Hyperlinks */
a:link {
  color:#b0c8ff;
}
a:visited {
  color:#d4a7ff;
}
a.ors:link, a.ors:visited {
  color:#f7a75d;
}
a:hover {
  background-color: #bb6432;
}
p {
  padding: 0 .5%;
  margin-block-start: .5em;
  margin-block-end:.5em;
  font: 11pt Arial, sans-serif;
}

/* Table of contents */
#toc {
  margin: 2px;
  padding: 4px;
  border: 2px solid #805740;
  background-color: #403020;
}
.toc {
  break-inside: avoid;
}
.tocHeading {
  font-size:12pt;
  font-weight: bold;
  text-align: center;
  color:#fdca97;
  break-inside: avoid;
}
.toc.default {
  color: #ffbb77;
  padding-left:20%;
  text-indent:-25%;
  font-size: 10pt;

}
.tocItems {
  columns: 250px 3;
  column-gap:5%
}

/* Headings & Subheadings */
.headingDiv {
  /* padding: 1em 0; */
  /* border-bottom: 2px double  #fd6303; */
  padding: 4px;
  margin: 2px;
  border: 2px solid yellow;
}
.headingLabel {
  font:12pt "Times New Roman", Times, serif;
  font-weight: bold;
  text-align:center;
  color: yellow;
}
.subheadDiv {
  border: 2px solid green;
  padding: 4px;
  margin: 2px;
}
.subheadLabel {
  font:12pt "Times New Roman", Times, serif;
  font-style:italic;
  color: green;
  text-align: center;
}

/* Sections & parts of sections */
.section {
  background-color: #382c24;
  margin-block: 1em;
  padding: 1em 0;
}
.leadline {
  font:12pt "Times New Roman", Times, serif;
  font-weight: bold;
  color: #fdbdad;
  margin-block-start: 1.5em;
}
:target > .leadline {
  background-color: #6b2b1b;
}
.orsForm {
  background-color: #44413f;
  margin: 1%;
  border: 3px solid #bb6432;
  padding: 0% 1%;
}
.sourceNote {
  color:#f0f0a0;
  font: 10pt "Times New Roman", Times, serif;
  margin-block-start:.2em;
  margin-block-end:1em;
}
.burnt {
  margin-block-start:1.5em;
  background-color: red;
}
.note {
  font: 10pt, "Times New Roman", Times, serif;
  max-width: 800px;
  min-width: 300px;
  width: 60%;
  margin: .5em 3%;
  border: 1px solid #805740;
  padding: 6px;
  background-color: #403020;
}
.default {
  color:#fffcf7;
}
/* Section Subunits */
.subsec{
  color: #f8f4f0;
  text-indent:-1em;
  padding-left:3%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.para{
  color: #f0ebe8;
  text-indent:-1em;
  padding-left:4.5%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subpara{
  color: #e8e4e0;
  text-indent:-1em;
  padding-left:6%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subsubpara{
  color: #e0dbd8;
  padding-left:7.5%;
  text-indent:-1em;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subsubsubpara{
  color: #d8d4d0;
  padding-left:9%;
  text-indent:-1em;
  margin-block-end:0;
  margin-block-start: .2em;
}