/* Page background */
:root {
/* dark / background*/
  --background: #221;
  --lightBack: #432;
  --formBack: #765;
/* light / foreground */
  --maintext: #eee;
  --heading: #eb7;
  --subheading: #fa7;
  --sourceNote: #fed;
  --linkExt: #cdf;
  --linkInt: #fdc;
  --linkVisited: #dcf;
}
body  {
  background-color: var(--background);
  color:var(--maintext);
}
p {
  padding: 4px;
  margin-block: .3em;
  font: 12pt Arial, sans-serif;
}
.fixed {
  position:fixed;
  bottom: 3px;
  right: 3px;
  width: max-content;
  text-align: center;
  border: 3px solid var(--maintext);
  background-color: var(--background);
}
.version {
  font: 10pt "Times New Roman", Times, serif;
}

/* Headings */
h1 {
  color: var(--heading);
  font:24pt Garamond, serif;
  font-weight: bold;
  text-align: center;
}
h2 {
  color: var(--heading);
  font:18pt Garamond, serif;
  text-align: center;
}
h3 {
  color: var(--heading);
  font:16pt Garamond, serif;
  font-weight: bold;
  text-align: center;
}
.headingDiv {
  padding: 4px;
  margin: 2px;
  border: 2px solid var(--heading);
}
.headingLabel {
  font:14pt "Times New Roman", Times, serif;
  font-weight: bold;
  text-align:center;
  color: var(--heading);
}
.subheadDiv {
  border: 2px solid var(--subheading);
  padding: 8px ;
  margin: 2px;
}
.subheadLabel {
  font:14pt "Times New Roman", Times, serif;
  font-style:italic;
  color: var(--subheading);
  text-align: center;
}

/* Hyperlinks */
a:link {
  color: var(--linkExt);
}
a.ors:link, a.ors:visited {
  color:var(--linkInt);
}
a:visited {
  color:var(--linkVisited);
}
a:hover {
  background-color: var(--lightBack);
}
/* Table of contents */
#toc {
  margin: 2px;
  padding: 4px;
  border: 2px solid var(--heading);
  background-color: var(--lightBack);
}
.toc {
  break-inside: avoid;
}
.tocHeading {
  font-size:12pt;
  font-weight: bold;
  text-align: center;
  color:var(--heading);
  break-inside: avoid;
}
.toc.default {
  color: var(--heading);
  padding-left:20%;
  text-indent:-25%;
  font-size: 10pt;
}
.tocItems {
  columns: 250px 3;
  column-gap:5%
}

/* Sections & parts of sections */
.section {
  margin: 0;
  padding: 2px 2px;
  display: block;
  overflow: hidden;
  transition: max-height .25s ease-out;
}
.leadline, .tempHead {
  font:13pt "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: left;
  color: var(--subheading);
  margin-block: .7em;
}
.collapsible {
  cursor:pointer;
  background-color: var(--lightBack);
  width:100%;
  border:none;
}
.collapsible:hover, .active{
  background-color: var(--formBack);
}
:target > .leadline {
  color: var(--sourceNote);
}
.tempSec {
  border: 2px solid var(--subheading);
  margin: 0 2px;
  padding: 0 2px;
}
.burnt {
  margin:0.5em;
}

/* Forms */
.orsForm {
  background-color: var(--formBack);
  margin: 1%;
  border: 3px solid var(--subheading);
  padding: 0% 1%;
}
.formHeading{
  text-align: center;
  font-weight: bold;
  color: var(--subheading);
}
.sourceNote {
  color:#f0f0a0;
  font: 10pt "Times New Roman", Times, serif;
  margin-block-start:.3em;
  margin-block-end:.3em;
}
.note {
  font: 10pt, "Times New Roman", Times, serif;
  max-width: 800px;
  min-width: 300px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid var(--subheading);
  padding: 6px;
  background-color: var(--lightBack);
}

/* Section Subunits */
.subsec{
  text-indent:-1em;
  padding-left:3%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.para{
  text-indent:-1em;
  padding-left:4.5%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subpara{
  text-indent:-1em;
  padding-left:6%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subsubpara{
  padding-left:7.5%;
  text-indent:-1em;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subsubsubpara{
  padding-left:9%;
  text-indent:-1em;
  margin-block-end:0;
  margin-block-start: .2em;
}