body  {
  background-color: #080800;
  color:#eeeeee;
  }
h1 {
  color: #ffbb77;
  font:18pt Garamond, serif;
  font-weight: bold;
  text-align: center;
}
h2 {
  font:16pt Garamond, serif;
  text-align: center;
}
h3 {
  font:14pt Garamond, serif;
  font-weight: bold;
  text-align: center;
}
a:link {
  color:#b0c8ff;
}
a:visited {
  color:#d4a7ff;
}
a:hover {
  color:#c0e0ff;
  background-color: #0c0c55;
}
p {
  padding: 0 .5%;
  margin-block-start: .5em;
  margin-block-end:.5em;
  font: 11pt Arial, sans-serif;
}
#toc {
  margin: 0% 1%;
  padding: 2% 3%;
  border: 3px solid #7c5e2b;
  background-color: #352c1c;
}
#toc.default, #toc.heading, #toc.subhead {
  font-size: 10pt;
  text-indent:-1em;
  break-inside: avoid;
  text-align: center;
}
.tocItems {
  columns: 250px 4;
  column-gap:5%
}
.orsbody {
    background-color: #000000;
}
.default {
    color:#fffff7;
}
.heading {
  font:12pt "Times New Roman", Times, serif;
  font-weight: bold;
  text-align:center;
  margin-block-start: 1.5em;
  margin-block-end: .5em;
  padding: 0 10%;
}
.subhead {
  font:11pt "Times New Roman", Times, serif;
  font-style:italic;
  margin-block-start: 1em;
  margin-block-end: .5em;
}
.leadline {
  font:12pt "Times New Roman", Times, serif;
  font-weight: bold;
  color: #7fffff;
  margin-block-start: 1.5em;
}
:target > .leadline {
  background-color: #005838
}
.orsForm {
  background-color: #434333;
  margin: 1%;
  border: 3px solid white;
  padding: 0% 1%;
}
.sourceNote {
  color:#ffff77;
  font: 10pt "Times New Roman", Times, serif;
  margin-block-start:.2em;
  margin-block-end:1em;
}
.dead {
  margin-block-start:1.5em;
}
.note {
  font: 10pt, "Times New Roman", Times, serif;
  max-width: 600px;
  min-width: 300px;
  width: 60%;
  margin: .5em 3%;
  border: 1px solid #2e2e31;
  padding: 6px;
  background-color: #202050;
}
.ors {
  color: #dd0000;
}
  a.ors:link, a.ors:visited {
  color:#36fa9b;
}
.subsec{
  color: #f0f0f0;
  text-indent:-1em;
  padding-left:3%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.para{
  color: #e8e8e8;
  text-indent:-1em;
  padding-left:4.5%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subpara{
  color: #e0e0e0;
  text-indent:-1em;
  padding-left:6%;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subsubpara{
  color: #d8d8d8;
  padding-left:7.5%;
  text-indent:-1em;
  margin-block-end:0;
  margin-block-start: .2em;
}
.subsubsubpara{
  color: #d0d0d0;
  padding-left:9%;
  text-indent:-1em;
  margin-block-end:0;
  margin-block-start: .2em;
}