:root { 
  --temp:#000;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--maintext);
}
div {
  display: block;
  padding: 0.1rem .3rem;
  margin: 0.2rem 0;
}
p {
  font-family: Arial, sans-serif;
}
.fixed {
  position: fixed;
  bottom: 0.2rem;
  right: 0.7rem;
  padding: .1rem;
  width: max-content;
  text-align: right;
  border: 2px solid var(--maintext);
  background-color: var(--background);
}
.version {
  font: 12px "Times New Roman", Times, serif;
  margin: 0;
}

/* MainHead */
.mainhead {
  border: 2px solid var(--heading);
  background-color: var(--altBack);
}

h1 {
  color: var(--heading);
  font: 2rem Garamond, serif;
  font-weight: bold;
  text-align: center;
}
h2 {
  color: var(--heading);
  font: 1.8rem Garamond, serif;
  font-weight: bold;
  text-align: center;
}
h3 {
  color: var(--heading);
  font: 1.4rem Garamond, serif;
  text-align: center;
}

/* Table of contents */
#toc {
  border: 2px solid var(--heading);
  background-color: var(--altBack);
}
.toc {
  break-inside: avoid;
}
.tocHeading, .tocSub, .tocTemp {
  text-align: center;
  break-inside: avoid;
}
.tocHeading {
  font-size: 12pt;
  font-weight: bold;
  color: var(--heading);
}
.tocSub, .tocTemp {
  font-size: 11pt;
  font-weight: normal;
  color: var(--subheading);
}
.tocSub {
  font-style: normal;
}
.tocTemp {
  font-style: italic;
}
.toc.default {
  color: var(--heading);
  padding-left: 20%;
  text-indent: -25%;
  font-size: 10pt;
}
.tocItems {
  columns: 250px 3;
  column-gap: 5%;
}

/* Headings in Body */
.heading {
    border: 2px solid var(--heading);
    padding: .3rem;
    margin: .2rem;
}
.headingLabel {
  font: 1.4rem "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  color: var(--heading);
}
.subhead {
  border: 2px solid var(--subheading);
  padding: .3rem;
  margin: .2rem;
}
.subheadLabel {
  font: 1.2rem "Times New Roman", Times, serif;
  font-style: italic;
  color: var(--subheading);
  text-align: center;
}

/* Hyperlinks */
a:link {
  color: var(--linkExt);
}
a.ors:link,
a.ors:visited {
  color: var(--linkInt);
}
a:visited,
.visited {
  color: var(--linkVisited);
}
a:hover {
  background-color: var(--altBack);
}

/* Sections & parts of sections */
.section {
  margin: 0;
  padding: 2px 2px;
  display: block;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}
.leadline,
.tempHead {
  font: 13pt "Times New Roman", Times, serif;
  font-weight: bold;
  color: var(--subheading);
  margin: 6pt 0;
}
.tempHead {
  text-align: center;
  font-style: italic;
}
.leadline {
  text-align: left;
  font-style: normal;
}
.collapsible {
  cursor: pointer;
  background-color: var(--buttonColor);
  width: 100%;
  border: none;
}
.expanded {
  background-color: var(--altBack);
}
button {
  color: var(--maintext);
  background-color: var(--buttonColor);
}
.collapsible:hover,
button:hover {
  background-color: var(--buttonHover);
}
:target {
  color: var(--highContrast) !important;
}
.tempSec {
  border: 2px solid var(--subheading);
  margin: 0 2px;
  padding: 0 2px;
}

/* Forms */
.orsForm {
  background-color: var(--formBack);
  margin: 1%;
  border: 3px solid var(--subheading);
  padding: 0% 1%;
}
.formHeading {
  text-align: center;
  font-weight: bold;
  color: var(--subheading);
}

/* Source notes & notes */
.sourceNote,
.burnt {
  color: var(--sourceNote);
  font: 14px "Times New Roman", Times, serif;
  font-style: italic
}
.burnt {
  background-color:var(--altBack);
  color: var(--highContrast)
}
.note {
  font: 16px "Times New Roman", Times, serif;
  max-width: 800px;
  margin-left: 12%;
  margin-right: 12%;
  color:var(--maintext);
  font-style: normal;
  background-color: var(--altBack);
}
.hideMe {
  position: absolute;
  left: -9999px;
}

/* Section Subunits */
.default {
  margin-block: 0;
}

.subsec,
.para,
.subpara,
.subsubpara,
.subsubsubpara {
  text-indent: -1.5rem;
  margin: 0.2rem auto 0 auto;
}
.subsec {
  padding-left: 2rem;
}
.para {
  padding-left: 4rem;
}
.subpara {
  padding-left: 6rem;
}
.subsubpara {
  padding-left: 8rem;
}
.subsubsubpara {
  padding-left: 10rem;
}